@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Example font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(44deg, #ffc509, #fffde7);
    font-family: 'Roboto', sans-serif; /* Apply font to the whole body */
}
.container {
    text-align: center;
}


.title-container {
    margin-bottom: 20px; /* Add margin to separate the title from the player */
    text-align: center; /* Center-align the title */
}

.title {
    font-size: 60px;
    color: #333;
    font-family: "Futura regular", serif,;
    font-weight: 400;
    font-style: bold;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the player */
}

.player {
    position: relative;
    width: 350px;
    background: #f1f3f4;
    box-shadow: 0 50px 80px rgba(0, 0, 0, 0.25);
}

.player .imgbx {
    position: relative;
    width: 100%;
    height: 350px;
}

.player .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player audio {
    width: 100%;
    outline: none;
}

.player .playlist {
    list-style: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif; /* Apply font to the playlist */
}

.player .playlist li {
    padding: 10px;
    cursor: pointer;
    font-size: 16px; /* Example font size */
}

.player .playlist li:hover {
    background: rgba(221, 46, 3, 0.7);
    color: white;
}

.player .playlist li.active {
    background: #dd2e03;
    color: white;
}


#playButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e91e63;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Apply font to the button */
}

#playButton:hover {
    background-color: #d81b60;
}

.social-media {
    margin-top: 20px; /* Adjust the top margin as needed */
    display: flex;
    justify-content: center; /* Center-align the social media icons horizontally */
}

/* Adjust the spacing between social media icons */
.social-media a {
    margin-right: 10px; /* Adjust the spacing between social media icons */
    color: #333; /* Change the color of the icons */
    font-size: 35px; /* Change the size of the icons */
}

